// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_radio {
  display: inline-block;
}

.field_radio ul#radio-buttons li {
  display: inline-block;
}

.field_radio ul#radio-buttons li {
  display: inline-block;
}

.fields_for_gift_recipients {
  display: inline-block;
  margin-left: 40px;
}

