
<table>
  <% Stripe::Plan.all.each do |plan| %>
    <tr>
      <td>
        <%= link_to plan.name, new_plan_subscription_path(plan) %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "Admin", admins_path %>